<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"></div>
  <div>
    <div [@rotate] = "state" class = "rotate">
       <img src = "assets/fimage.jpeg" width = "100" height = "100" (mouseover) = "rotate()">
    </div>
 </div>
 <div class="row">
   <div class="col-sm-3">
       <div class="card">
           <div class="card-body">
             <img src="assets/img2.jpg">
           </div> 
         </div>
   </div>
   <div class="col-sm-1"></div>
   <div class="col-sm-3">
       <div class="card">
           <div class="card-body">
             <img src="assets/fimage.jpeg" >
           </div> 
         </div>
   </div>
   <div class="col-sm-1"></div>
 
   <div class="col-sm-3">
       <div class="card">
           <div class="card-body">
             <img src="assets/fimage.jpeg" >
           </div> 
         </div>
   </div>
 
 </div>
     
<router-outlet></router-outlet>
